{% extends 'main/main.html' %}

{% load static %}

{% block content %}

<body>
    <section class="navigation-bar">
        
        <a class="nav-link" href="#">
            Projects
        </a>

        <a class="nav-link" href="#">
            Courses
        </a>

        <a class="nav-link" href="#">
            Contact
        </a>
    </section>

    <section class="hero">
        <div class="hero--content">
            <div class="hero--content--intro">
                <img id="profile_picture" src="{% static 'images/success.jpg' %}">
                <h1 class="intro--name">SUCCESS <br> AJE</h1>
            </div>
            <div class="hero--content--subheadline">
                <h3 class="description">Software & DApp Developer</h3>
                <p class="motto">I build and develop amazing Software with and for people</p>
            </div>
        </div>
    </section>

    <section class="container section--2">
        <h3 class="my--projects">My projects</h3>
        <div class="projects--wrapper">
            {% for project in projects %}
            <div class="project--column">
                <a href = {% url 'project' project.id %}>
                    <img class="project--thumbnail" src="{{ project.thumbnail.url }}">
                </a>
                <div class="project--body">
                    <h4>{{ project.title }}</h4>
                </div>
            </div>
            {% empty %}
                <h3>There are no projects in the database........</h3>
            {% endfor %}

            <!-- <div class="project--column">
                <img class="project--thumbnail" src="{% static 'images/second.jpg' %}">
                <div class="project--body">
                    <h4>Unknown for now</h4>

                </div>
            </div>

            <div class="project--column">
                <img class="project--thumbnail" src="{% static 'images/third.jpg' %}">
                <div class="project--body">
                    <h4>Still coming in</h4>

                </div>
            </div> -->
        </div>

        <div class="about--wrapper">
            <h3>About Me</h3>
            <h4>Things i do that make my journey worthwhile!</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic consequatur recusandae perferendis et quidem tempore consequuntur alias laudantium. Id corrupti ex temporibus commodi et! Voluptatibus veniam labore itaque minus tempora.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem soluta nulla sed nesciunt quae aut porro dolorem itaque voluptatem eius doloribus repellat suscipit, velit cumque autem unde dolore reprehenderit minus.</p>
        </div>     
    </section>

    <section class="section--1">
        <div class="skills--container">
            <h3>
                More About Me
            </h3>

            {% for skill in detailedSkills %}
            <div class="skill--wrapper">
                <h5>
                    {{ skill.title }}
                </h5>
                <p>
                    {{ skill.body }}
                </p>
            </div>
            {% endfor %}

            <h4>Other Skills</h4>

            <div class="other--skills--wrapper">
                {% for skill in skills %}
                <div class="skill--tag">
                    <span>{{ skill.title }}</span>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    

</body>

</html>

{% endblock content %}